/* Estilos generales */
body {
  background-color: #f8f9fa; /* Color de fondo de la página */
  color: #333; /* Color del texto */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
}

/* Card */
.card {
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor de la tarjeta */
  background-color: #fff; /* Color de fondo de la tarjeta */
  padding: 20px; /* Espaciado interno de la tarjeta */
}

.card-head {
  font-size: 18px; /* Tamaño de fuente del encabezado de la tarjeta */
  font-weight: bold; /* Negrita para el encabezado */
  margin-bottom: 20px; /* Espaciado debajo del encabezado */
  display: flex; /* Usa flexbox para el diseño */
  justify-content: space-between; /* Espacia los elementos de manera equitativa */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

.card-body {
  overflow-x: auto; /* Permite el desplazamiento horizontal si el contenido es demasiado ancho */
}

/* MODALES */
.example-form {
  min-width: 150px; /* Ancho mínimo del formulario */
  max-width: 500px; /* Ancho máximo del formulario */
  width: 100%; /* Ancho completo disponible */
}

.form-container {
  display: flex; /* Usa flexbox para el diseño del formulario */
  flex-direction: column; /* Apila los elementos en una columna */
  gap: 16px; /* Espaciado entre inputs */
}

.modal {
  position: fixed; /* Fija el modal en la pantalla */
  top: 0; /* Alinea el modal en la parte superior */
  left: 0; /* Alinea el modal a la izquierda */
  width: 100%; /* Ancho completo de la pantalla */
  height: 100%; /* Altura completa de la pantalla */
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el modal */
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.modal-dialog {
  background: #fff; /* Color de fondo del diálogo del modal */
  border-radius: 8px; /* Esquinas redondeadas */
  width: 500px; /* Ancho del diálogo del modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del diálogo */
}

.modal-header {
  padding: 10px; /* Espaciado interno del encabezado del modal */
  border-bottom: 1px solid #dee2e6; /* Línea divisoria inferior del encabezado */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  text-align: center;
}

.modal-title {
  font-size: 20px; /* Tamaño de fuente del título del modal */
  font-weight: 500;
  margin: 5px; /* Elimina el margen alrededor del título */
  text-align: center; /* Centra el texto del título */
}

.modal-body {
  padding: 20px; /* Espaciado interno del cuerpo del modal */
}

.modal-footer {
  padding: 20px; /* Espaciado interno del pie del modal */
  border-top: 1px solid #dee2e6; /* Línea divisoria superior del pie del modal */
  display: flex; /* Usa flexbox para el diseño del pie del modal */
  justify-content: space-between; /* Espacia los elementos de manera equitativa */
  align-items: center; /* Alinea los elementos verticalmente al centro */
}

/* TABLA */
.table-elegant {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: separate; /* Separa los bordes de las celdas */
  border-spacing: 0; /* Elimina el espaciado entre las celdas */
  border-radius: 10px; /* Esquinas redondeadas de la tabla */
  border: 1px solid #d1d1d1; /* Borde alrededor de la tabla */
  overflow: hidden; /* Oculta el contenido desbordante */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil alrededor de la tabla */
  margin-top: 20px; /* Espaciado superior de la tabla */
  background-color: white; /* Color de fondo de la tabla */
}

.table-elegant .table-title {
  background-color: #333; /* Color de fondo del título de la tabla */
  color: white; /* Color del texto del título */
  font-weight: bold; /* Negrita para el texto del título */
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 15px 20px; /* Espaciado interno del título de la tabla */
  border-bottom: 1px solid #e0e0e0; /* Línea divisoria inferior del título */
}

.table-elegant th,
.table-elegant td { 
  padding: 15px 20px; /* Espaciado interno de las celdas */
  text-align: left; /* Alinea el texto a la izquierda en celdas */
}

.table-elegant th {
  font-weight: 500; /* Negrita para los encabezados de columna */
  letter-spacing: 0.5px; /* Espaciado entre letras */
  background-color: #333; /* Color de fondo de los encabezados de columna */
  color: white; /* Color del texto en los encabezados de columna */
}

.table-elegant td {
  border-bottom: 1px solid #e0e0e0; /* Línea divisoria inferior en las celdas */
}

.table-elegant tbody tr {
  background-color: white; /* Color de fondo de las filas de la tabla */
}

.table-elegant tbody tr:last-child td {
  border-bottom: none; /* Elimina el borde inferior de la última fila */
}

.table-elegant tbody tr:hover {
  background-color: #f8f9fa; /* Color de fondo cuando se pasa el cursor sobre la fila */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.table-elegant .actions-column {
  text-align: left; /* Alinea el contenido de la columna de acciones a la izquierda */
  width: 200px; /* Ancho fijo para la columna de acciones */
}