<!-- Buscador de tareas -->
<div class="buscador-container">
  <input
    type="text"
    placeholder="Buscar por nombre..."
    [(ngModel)]="searchText"
    class="buscador"
  /> 
  <button mat-flat-button class="mat-flat-button agregar" (click)="openModalEspecialidad()">
    <mat-icon>add_circle</mat-icon>Agregar
  </button>
</div>

<!-- Tabla -->
<table class="table-elegant">
  <thead>
    <tr>
      <th>Código</th>
      <th>Especialidades</th>
      <th>Estado</th>
      <th>Usuario creación</th> 
      <th>Fecha de creación</th>
      <th></th>
    </tr>
  </thead> 

  <tbody>
    <tr *ngFor="let especialidad of filteredEspecialidades()">
      <td>{{ especialidad.id }}</td>
      <td>{{ especialidad.nombre }}</td>
      <td>{{ especialidad.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
      <td>{{ especialidad.usuariO_CREACION }}</td>
      <td>{{ especialidad.fechA_CREACION | date: 'dd/MM/yyyy' }}</td>
      <td class="actions-column">
        <div class="button-container">
          <button mat-flat-button color="primary" class="mat-flat-button editar" (click)="openModalEspecialidad(especialidad)">
            <mat-icon>edit_square</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Paginador de Angular Material -->
<div class="paginador-container">
  <mat-paginator [length]="especialidades.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>

<!-- Modal combinado para CREAR y EDITAR especialidad -->
<div *ngIf="showModalEspecialidad" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h2 class="modal-title">{{ isEditMode ? 'Edición' : 'Creación' }} de especialidad</h2>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form (ngSubmit)="saveEspecialidad()" #especialidadForm="ngForm" class="form-container">
          <div class="form-row">

            <!-- Campo para nombre de especialidad -->
            <mat-form-field class="mat-form-field">
              <mat-label>Especialidad</mat-label>
              <input
                matInput
                placeholder=""
                [(ngModel)]="currentEspecialidad.nombre"
                name="especialidad"
                required
              />
            </mat-form-field>

            <!-- Campo para estado (slide toggle) -->
            <div class="toggle-wrapper">
              <mat-slide-toggle
                [(ngModel)]="currentEspecialidad.estado"
                (change)="onToggleChange($event)"
                name="estado"
                labelPosition="before">
                <span class="toggle-label">{{ currentEspecialidad.estado === 1 ? 'Activo' : 'Inactivo' }}</span>
              </mat-slide-toggle>
            </div>
          </div>
        </form>
      </div>

      <!-- Footer para los botones del modal -->
      <div class="modal-footer">
        <div class="button-group-left">
          <button mat-flat-button class="mat-flat-button cancelar" (click)="closeModalEspecialidad()" type="button">Cancelar</button>
          <button *ngIf="isEditMode" mat-flat-button color="warn" class="mat-flat-button eliminar" (click)="confirmDelete(currentEspecialidad.id)">
            <mat-icon>delete</mat-icon>Eliminar</button>
        </div>

        <button mat-flat-button [color]="isEditMode ? 'agregar' : 'actualizar'" class="mat-flat-button" (click)="saveEspecialidad()" type="submit">
          <mat-icon>{{ isEditMode ? 'save' : 'add_circle' }}</mat-icon>
          {{ isEditMode ? 'Actualizar' : 'Agregar' }}
        </button>

      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div *ngIf="showConfirmationDeleteEspecialidad" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h6>Confirmación de eliminación</h6>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar esta especialidad?</p>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button mat-flat-button color="primary" class="mat-flat-button confirmareliminar" (click)="deleteEspecialidad()">Sí</button>
        <button mat-flat-button color="warn" class="mat-flat-button volver" (click)="closeConfirmationDialog()">No</button>
      </div>
    </div>
  </div>
</div>