/* Estilos para el header */
.header {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flex a columna */
    padding: 15px 30px;
    background-color: #fff; /* Hacer que el fondo sea transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Eliminar la sombra para evitar el efecto de cuadro */
    border-bottom: 1px solid #f2f2f2; /* Quitar el borde inferior */
    border-radius: .5rem;
}

/* Estilos para el título del header */
.header-left h1 {
    margin: 0;
    font-size: 24px;
    color: #000000;
    font-weight: 500; 
}