/* Estilos para el header */
.header {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flex a columna */
    padding: 15px 30px;
    background-color: #fff; /* Hacer que el fondo sea transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Eliminar la sombra para evitar el efecto de cuadro */
    border-bottom: 1px solid #f2f2f2; /* Quitar el borde inferior */
    border-radius: .5rem;
}

/* Estilos para el título del header
.header-left h1 {
    margin: 0;
    font-size: 24px;
    color: #000000;
} */

/* Estilo para el contenedor del buscador y botón */
.buscador-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .buscador {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    margin-right: 10px; /* Espacio entre el buscador y el botón */
  }
  
  .buscador:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }