/* Estilos para el header */
.header {
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flex a columna */
    padding: 15px 30px;
    background-color: #fff; /* Hacer que el fondo sea transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Eliminar la sombra para evitar el efecto de cuadro */
    border-bottom: 1px solid #f2f2f2; /* Quitar el borde inferior */
    border-radius: .5rem;
}

/* Estilos para el título del header
.header-left h1 {
    margin: 0;
    font-size: 24px;
    color: #000000;
} */

/* Contenedor de búsqueda y botón */
.search-container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 10px; /* Espacio entre la barra de búsqueda y el botón */
    margin-top: 10px; /* Espacio entre el título y la barra de búsqueda */
}

/* Estilos para la barra de búsqueda */
.search-bar {
    flex: 1; /* Hace que la barra de búsqueda ocupe todo el espacio disponible */
    padding: 8px 12px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.search-bar:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para el botón de agregar */
.btn-success-header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success-header:hover {
    background-color: #218838;
}

/* Estilos para el icono en el botón */
.btn-success-header i {
    font-size: 18px;
}
