<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-text">
      &copy; 2024 Creado por [Tu Nombre]
    </div>
    <div class="footer-social">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>

