.form-container {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-actions {
  margin-top: 20px;
}

.form-actions button {
  margin-right: 10px;
  padding: 8px 16px; /* Tamaño ajustado */
  border: none;
  border-radius: 20px; /* Botones más redondos */
  font-size: 0.9em; /* Tamaño de fuente ajustado */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary.guardar-btn {
  background-color: #77dd77; /* Verde pastel */
  color: #fff;
}

.btn-primary.guardar-btn:hover {
  background-color: #66cc66; /* Verde pastel más oscuro */
}

.btn-secondary.volver-btn {
  background-color: #cccccc; /* Gris */
  color: #333;
}

.btn-secondary.volver-btn:hover {
  background-color: #b3b3b3; /* Gris más oscuro */
}
