<div class="tipo-parametro-card" *ngFor="let tipoParametro of tipoParametros">
  <div>
    <label for="id-{{tipoParametro.id}}">Id:</label>
    <input id="id-{{tipoParametro.id}}" type="text" [value]="tipoParametro.id" disabled />
  </div>
  <div>
    <label for="tipoParametro-{{tipoParametro.id}}">Tipo de Parámetro:</label>
    <input
      id="tipoParametro-{{tipoParametro.id}}"
      type="text"
      [(ngModel)]="tipoParametro.tipO_PARAMETRO"
      name="tipoParametro"
    />
  </div>
  <div>
    <label for="estado-{{tipoParametro.id}}">Estado:</label>
    <input
      id="estado-{{tipoParametro.id}}"
      type="number"
      [(ngModel)]="tipoParametro.estado"
      name="estado"
    />
  </div>
  <div>
    <label for="usuarioCreacion-{{tipoParametro.id}}">Usuario de Creación:</label>
    <input
      id="usuarioCreacion-{{tipoParametro.id}}"
      type="text"
      [(ngModel)]="tipoParametro.usuariO_CREACION"
      name="usuarioCreacion"
    />
  </div>
  <div>
    <label for="fechaCreacion-{{tipoParametro.id}}">Fecha de Creación:</label>
    <input
      id="fechaCreacion-{{tipoParametro.id}}"
      type="datetime-local"
      [(ngModel)]="tipoParametro.fechA_CREACION"
      name="fechaCreacion"
    />
  </div>
</div>
