.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.modal-body-prov {
  padding: 20px;
}

.mat-form-field.obra{
  width: 100%;
}

.form-row.provyesp{
  display: flex;
  align-items: center;
}

.form-row.prov {
  display: inline-flex;
  align-items: center;
}

.form-row.esp {
  display: inline-flex;
  align-items: center;
}

.mat-form-field.prov{
  width: 260px;
}

.mat-form-field.esp{
  width: 280px;
}

.form-row.adminyfecha{
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-row.admin {
  display: inline-flex;
  align-items: center;
}

.form-row.fecha {
  display: inline-flex;
  align-items: center;
}

.mat-form-field.admin{
  width: 260px;
}

.mat-form-field.fecha{
  width: 260px;
}

/* Ajuste para el campo descripción */
.form-row .mat-form-field textarea {
  resize: vertical; /* Permite redimensionar solo en dirección vertical */
}

.toggle-wrapper {
  align-self: flex-end;
}

/* .toggle-label {
  min-width: 50px; 
  display: inline-block;
  text-align: right;
} */

/* Estilos específicos para el formulario de Descripción (campo grande) */
/* Ajusta la altura del campo de texto para la Descripción */
.form-row .mat-form-field textarea {
  height: 40px; 
}

/* Estilo para la fila que contiene la Descripción */
.form-row.des {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre los elementos de la fila */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Ajuste para que el botón ocupe todo el ancho disponible */
.add-group-container button {
  width: 100%;
}

.add-group-container {
  text-align: center;
  padding-bottom: 10px;
}

.grupo-container {
  margin-top: 10px;
}

.grupo-card {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}
