<!-- Barra de búsqueda -->
<div class="buscador-container">
  <input
    type="text"
    placeholder="Buscar por nombre..."
    [(ngModel)]="searchText"
    (ngModelChange)="onSearchChange()"
    class="buscador"
  />
  <button mat-flat-button class="mat-flat-button agregar" (click)="openModalActa()">
    <mat-icon>add_circle</mat-icon>Agregar
  </button>
</div>

<!-- Tabla -->
<table class="table-elegant">
  <thead>
    <tr>
      <th>N Acta</th>
      <th>Obra</th>
      <th>Proveedor</th>
      <th>Especialidad</th>
      <th>Administrador Obra</th>
      <th>Fecha de Creación</th>
      <th>Observaciones</th>
      <th>Estado obra</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let acta of pagedActas">
      <td>{{acta.id}}</td>
      <td>{{getObraNombre(acta.obrA_ID)}}</td>
      <td>{{getProveedorNombre(acta.proveedoR_ID)}}</td>
      <td>{{getEspecialidadNombre(acta.especialidaD_ID)}}</td>
      
      <td>{{getUsuarioNombre(acta.revisoR_ID)}}</td>
      <td>{{acta.fechA_CREACION | date:'dd/MM/yyyy'}}</td>
      <td>{{acta.observacion}}</td>
      <td>{{getEstadoNombre(acta.estadO_ID)}}</td>
      <td class="actions-column">
        <div class="button-container">
          <button mat-flat-button color="primary" class="mat-flat-button editar" (click)="openModalActa(acta)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Paginación -->
<div class="paginador-container">
  <mat-paginator
    [length]="filteredActas().length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<!-- Modal para CREAR y EDITAR parámetro -->
<div *ngIf="showModalActa" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ isEditMode ? 'Edición' : 'Creación' }} de Acta</h2>
      </div>
      <div class="modal-body">
        <form #parametroForm="ngForm" class="form-container">
          <div class="form-row flex-row">

            <!-- Campos: Obra, Proveedor y Especialidad en una fila -->
            <div class="form-column">
              <mat-form-field class="mat-form-field">
                <mat-label>Obra</mat-label>
                <mat-select [(ngModel)]="currentActa.obrA_ID" name="obra" required #obraField="ngModel">
                  <mat-option *ngFor="let tipo of obra" [value]="tipo.id">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="obraField.invalid && obraField.touched">
                  Debe seleccionar una obra
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-column">
              <mat-form-field class="mat-form-field">
                <mat-label>Proveedor</mat-label>
                <mat-select [(ngModel)]="currentActa.proveedoR_ID" name="proveedor" required #proveedorField="ngModel">
                  <mat-option *ngFor="let tipo of proveedor" [value]="tipo.iDproveedor">
                    {{ tipo.nombreProveedor }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="proveedorField.invalid && proveedorField.touched">
                  Debe seleccionar un proveedor
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-column">
              <mat-form-field class="mat-form-field">
                <mat-label>Especialidad</mat-label>
                <mat-select [(ngModel)]="currentActa.especialidaD_ID" name="especialidad" required #especialidadField="ngModel">
                  <mat-option *ngFor="let tipo of especialidad" [value]="tipo.id">
                    {{ tipo.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="especialidadField.invalid && especialidadField.touched">
                  Debe seleccionar un tipo de parámetro
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Fila para Administrador y Fecha de Aprobación -->
          <div class="form-row flex-row">
            <div class="form-column">
              <mat-form-field class="mat-form-field">
                <mat-label>Administrador</mat-label>
                <mat-select [(ngModel)]="currentActa.revisoR_ID" name="revisor" required #revisorField="ngModel">
                  <mat-option *ngFor="let tipo of usuario" [value]="tipo.id">
                    {{ tipo.primer_nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="revisorField.invalid && revisorField.touched">
                  Debe seleccionar un administrador del acta
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-column">
              <mat-form-field class="mat-form-field">
                <mat-label>Fecha Aprobación</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="currentActa.fechA_APROBACION" name="fecha_aprobacion">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <!-- Campo Descripción (campo grande) -->
          <div class="form-row des" [ngClass]="{'agregar-mode': !isEditMode}">
            <mat-form-field class="mat-form-field">
              <mat-label>Descripción</mat-label>
              <textarea matInput [(ngModel)]="currentActa.observacion" name="descripcion" rows="5"></textarea>
            </mat-form-field>
          </div>
          
<!-- ........................................................................................................................................... -->
          <!-- Botón para agregar una nueva card de tareas -->
          <div class="add-group-container" *ngIf="isEditMode">
            <button mat-flat-button color="primary" (click)="agregarNuevaCard()">Agregar Grupo de Tareas</button>
          </div>
          

        </form>
        <!-- Solo mostrar en modo de edición -->
        <div *ngFor="let grupo of grupos; let i = index" class="grupo-container" >
          <mat-card class="grupo-card" *ngIf="isEditMode">
            <mat-card-content>
              <div class="grupo-header">
                <!-- Botón para expandir/minimizar el grupo -->
                <button mat-button (click)="toggleGrupo(grupo)">
                  {{ grupo.minimizado ? 'Expandir' : 'Minimizar' }}
                </button>

                <!-- Botón para eliminar los datos y la card -->
                <button mat-button color="warn" *ngIf="!grupo.idGrupoTarea" (click)="eliminarDatosYCard(grupo, i)">
                  Eliminar Card
                </button>

              </div>
        
              <!-- Contenido de la card, solo se muestra si no está minimizado -->
              <div *ngIf="!grupo.minimizado">
                <div class="form-row flex-row">
                  <mat-form-field class="mat-form-field">
                    <mat-label>Rol</mat-label>
                    <mat-select [(ngModel)]="grupo.idRol" name="rol" #rolField="ngModel">
                      <mat-option *ngFor="let rol of roles" [value]="rol.id">
                        {{ rol.parametro }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rolField.invalid && rolField.touched">
                      Debe seleccionar un rol
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="mat-form-field">
                    <mat-label>Encargado</mat-label>
                    <mat-select [(ngModel)]="grupo.idEncargado" name="encargado" required #encargadoField="ngModel">
                      <mat-option *ngFor="let encargado of usuario" [value]="encargado.id">
                        {{ encargado.primer_nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="encargadoField.invalid && encargadoField.touched">
                      Debe seleccionar un Encargado del grupo
                    </mat-error>
                  </mat-form-field>

                </div>
        
                <div class="form-row">
                  <mat-form-field class="mat-form-field">
                    <mat-label>Tareas</mat-label>
                    <mat-select [(ngModel)]="grupo.idTarea" name="tareas" multiple required #tareasField="ngModel">
                      <mat-option *ngFor="let tarea of tareas" [value]="tarea.id">
                        {{ tarea.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tareasField.invalid && tareasField.touched">
                      Debe seleccionar al menos una tarea
                    </mat-error>
                  </mat-form-field>
                </div>
        
                <!-- Botón para guardar y minimizar el grupo -->
                <div class="button-group">
                  <button mat-flat-button color="primary" (click)="guardarGrupoTarea(grupo)">Guardar</button>     
                </div>
                <!-- Botón de eliminar en cada card -->
                <div class="button-group">
                  <button mat-button color="warn" *ngIf="grupo.idGrupoTarea"  (click)="eliminarGrupoTarea(grupo.idGrupoTarea)">
                    Eliminar Grupo de Tareas
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
<!-- .................................................................................................... -->


      <div class="modal-footer">
        <div class="button-group-left">
          <button mat-flat-button class="mat-flat-button cancelar" (click)="closeModalActa()">
            Cancelar
          </button>
          <button *ngIf="isEditMode" mat-flat-button color="warn" class="mat-flat-button eliminar" 
            (click)="confirmDelete(currentActa.id || 0)">
            <mat-icon>delete</mat-icon>Eliminar
          </button>
        </div>
        <button mat-flat-button [ngClass]="{'agregar': !isEditMode, 'actualizar': isEditMode}" 
                class="mat-flat-button" (click)="saveActa()">
          <mat-icon>{{ isEditMode ? 'save' : 'add_circle' }}</mat-icon>
          {{ isEditMode ? 'Actualizar' : 'Agregar' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación de eliminación  -->
<div *ngIf="showConfirmationDeleteActa" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Confirmación de eliminación</h2>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar este parámetro?</p>
      </div>
      <div class="modal-footer">
        <button mat-flat-button class="mat-flat-button cancelar" (click)="closeConfirmationDialog()">No</button>
        <button mat-flat-button class="mat-flat-button confirmarEliminar" (click)="deleteActa()">Sí</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar errores  -->
<div *ngIf="showErrorModal" class="modal error-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header error">
        <h6>{{ errorMessage.isError ? '¡Error!' : '¡Éxito!' }}</h6>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage.message }}</p>
      </div>
      <div class="modal-footer">
        <button mat-flat-button class="mat-flat-button cerrar" (click)="closeErrorModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>