<!-- Buscador -->
<div class="buscador-container">
  <input
  type="text"
  placeholder="Buscar por nombre..."
  [(ngModel)]="searchText"
  (ngModelChange)="onSearchChange()"
  class="buscador"
  />
  <button mat-flat-button class="mat-flat-button agregar" (click)="openModalProveedor()"><mat-icon>add_circle</mat-icon>Agregar</button>
</div>

<!-- Tabla -->
<table class="table-elegant">
  <thead>
    <tr>
      <th>Proveedor</th>
      <th>Razon Social</th>
      <th>Rut</th>
      <th>DV</th>
      <!-- <th>Nombre Contacto Principal</th>
      <th>Numero Contacto Principal</th>
      <th>Nombre Contacto Secundario</th>
      <th>Numero Contacto Secundario</th>
      <th>Estado</th> -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let proveedor of pagedProveedores">
        <!-- <td>{{ proveedor.id }}</td> -->
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.razoN_SOCIAL }}</td>
        <td>{{ proveedor.rut }}</td>
        <td>{{ proveedor.dv }}</td>
        <td class="actions-columns">
          <div class="button-container">
            <button mat-flat-button color="primary" class="mat-flat-button editar" (click)="openModalProveedor(proveedor)">
              <mat-icon>edit_square</mat-icon>
            </button>
          </div>
        </td>
    </tr>
  </tbody>
</table>


<!-- Paginación -->
<div class="paginador-container">
  <mat-paginator [length]="filteredProveedores().length"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 20]"
              (page)="onPageChange($event)">
  </mat-paginator>
</div>


<!-- Modal para CREAR y EDITAR proveedor -->
<div *ngIf="showModalProveedores" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h2 class="modal-title">{{ isEditMode ? 'Edición' : 'Creación' }} de proveedor </h2>
      </div>

      <!-- Body -->
      <div class="modal-body-prov">
        <form (ngSubmit)="saveProveedor()" #proveedorForm="ngForm" class="form-container">
          <div class="form-row">

              <!-- Campos Nombre del Proveedor, Razón Social y Estado -->
            <div class="form-row nombre-razo">
              <mat-form-field class="mat-form-field nombre">
                <mat-label>Proveedor</mat-label>
                <input
                  matInput
                  placeholder="Nombre del proveedor"
                  [(ngModel)]="currentProveedores.nombre"
                  name="nombre"
                  required
                />
              </mat-form-field>

              <mat-form-field class="mat-form-field razo-social">
                <mat-label>Razón Social</mat-label>
                <input
                  matInput
                  placeholder="Razón Social"
                  [(ngModel)]="currentProveedores.razoN_SOCIAL"
                  name="razoN_SOCIAL"
                  required
                />
              </mat-form-field>

              <!-- Campo para Estado (slide toggle) -->
              <div class="toggle-wrapper">
                <mat-slide-toggle
                  [(ngModel)]="currentProveedores.estado"
                  (change)="onToggleChange($event)"
                  name="estado"
                  labelPosition="before">
                  <span class="toggle-label">{{ currentProveedores.estado === 1 ? 'Activo' : 'Inactivo' }}</span>
                </mat-slide-toggle>
              </div>
            </div>

            <!-- Campo para Rut y DV -->
            <div class="form-row rut">
              <mat-form-field class="mat-form-field rut">
                <mat-label>Rut</mat-label>
                <input
                  matInput
                  placeholder="RUT"
                  [(ngModel)]="currentProveedores.rut"
                  name="rut"
                  required
                />
              </mat-form-field>

              <mat-form-field class="mat-form-field dv">
                <mat-label>DV</mat-label>
                <input
                  matInput
                  placeholder="DV"
                  [(ngModel)]="currentProveedores.dv"
                  name="dv"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Campos de Contacto Principal y Secundario en la misma fila -->
            <div class="form-row contactos">
              <!-- Columna para Contactos Principales -->
              <div class="columna-nombre">
                <mat-form-field class="mat-form-field contacto-nombre">
                  <mat-label>Nombre Contacto Principal</mat-label>
                  <input
                    matInput
                    placeholder="Nombre del contacto principal"
                    [(ngModel)]="currentProveedores.nombrE_CONTACTO_PRINCIPAL"
                    name="nombrE_CONTACTO_PRINCIPAL"
                    required
                  />
                </mat-form-field>
              </div>

              <div class="columna-numero">
                <mat-form-field class="mat-form-field contacto-numero">
                  <mat-label>Número Contacto Principal</mat-label>
                  <input
                    matInput
                    placeholder="Número de contacto principal"
                    [(ngModel)]="currentProveedores.numerO_CONTACTO_PRINCIPAL"
                    name="numerO_CONTACTO_PRINCIPAL"
                    required
                    type="number"
                  />
                </mat-form-field>
              </div>

              <!-- Columna para Contactos Secundarios -->
              <div class="columna-nombre">
                <mat-form-field class="mat-form-field contacto-nombre">
                  <mat-label>Nombre Contacto Secundario</mat-label>
                  <input
                    matInput
                    placeholder="Nombre del contacto secundario"
                    [(ngModel)]="currentProveedores.nombrE_CONTACTO_SECUNDARIO"
                    name="nombrE_CONTACTO_SECUNDARIO"
                  />
                </mat-form-field>
              </div>

              <div class="columna-numero">
                <mat-form-field class="mat-form-field contacto-numero">
                  <mat-label>Número Contacto Secundario</mat-label>
                  <input
                    matInput
                    placeholder="Número de contacto secundario"
                    [(ngModel)]="currentProveedores.numerO_CONTACTO_SECUNDARIO"
                    name="numerO_CONTACTO_SECUNDARIO"
                    type="number"
                  />
                </mat-form-field>
              </div>
            </div>

            <!-- <mat-form-field>
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="toppings" multiple>
                @for (topping of toppingList; track topping) {
                  <mat-option [value]="topping">{{topping}}</mat-option>
                }
              </mat-select>
            </mat-form-field> -->

          </div>
        </form>
      </div>

      <!-- Footer para los botones del modal -->
      <div class="modal-footer">
        <div class="button-group-left">
          <button mat-flat-button class="mat-flat-button cancelar" (click)="closeModalProveedor()" type="button">Cancelar</button>
          <button *ngIf="isEditMode" mat-flat-button color="warn" class="mat-flat-button eliminar" (click)="confirmDelete(currentProveedores.id)">
            <mat-icon>delete</mat-icon>Eliminar
          </button>
        </div>

        <button mat-flat-button [ngClass]="{'agregar': !isEditMode, 'actualizar': isEditMode}" class="mat-flat-button" (click)="saveProveedor()" type="submit">
          <mat-icon>{{ isEditMode ? 'save' : 'add_circle' }}</mat-icon>
          {{ isEditMode ? 'Actualizar' : 'Agregar' }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div *ngIf="showConfirmationDeleteProveedores" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h2 class="modal-title">Confirmación de eliminación</h2>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar este proveedor?</p>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button mat-flat-button class="mat-flat-button cancelar" (click)="closeConfirmationDialog()">No</button>
        <button mat-flat-button class="mat-flat-button confirmarEliminar" (click)="deleteProveedor()">Sí</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal para mostrar errores -->
<div *ngIf="showErrorModal" class="modal error-modal">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header error">
        <h6>{{ errorMessage.isError ? '¡Error!' : '¡Éxito!' }}</h6>
      </div>

      <div class="modal-body">
        <p>{{ errorMessage.message }}</p>
      </div>

      <div class="modal-footer">
        <button mat-flat-button class="mat-flat-button cerrar" (click)="closeErrorModal()">Cerrar</button>
      </div>
      
    </div>
  </div>
</div>