/* Estilos para los encabezados de los modals */
.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.modal-body-prov {
  padding: 20px;
}

/* Fila para campos de formulario */
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Estilo específico para los campos en la misma fila */
.form-row .mat-form-field {
  flex: 1;
}

.form-row.rut {
  display: flex;
  gap: 15px;
}

/* Campo rut */
.rut-help-text {
  color: gray;        /* Color gris */
  font-size: 0.9em;  /* Tamaño de fuente más pequeño */
  margin-top: 4px;   /* Espacio entre el input y el mensaje */
  display: block;     /* Asegura que se muestre en su propia línea */
}

/* Campo razón social */
.form-row.nombre-razo {
  display: flex;
  gap: 15px;
  width: 100%;
}

/* Campo especialidad */
.form-row.especialidad {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 90%;
}

.mat-form-field.dv{
  flex: 1;
  min-width: 5px;
}

/* Ajuste para que los campos proveedor, razón Social y rut tengan el mismo ancho */
.form-row.nombre-razo .mat-form-field{
  flex: 1;
  min-width: 300px;
}

.mat-form-field.rut {
  flex: 1;
  min-width: 40px;
  width: 100px;
}

/* Lista de item de especialidades para Creación de Proveedor */
.mat-form-field.esp {
  width: 150%; 
  margin-bottom: 16px; 
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  /* Ajuste en la disposición de las columnas en pantallas pequeñas */
  .form-row.especialidad {
    flex-direction: column;
  }

  .columna-nombre, .columna-numero {
    flex: 1 1 100%;
  }
}
