/* Estilos para Modal */
.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.modal-body-prov {
  padding: 20px;
}

/* Filas de Formulario */
.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row.nombre-razo {
  display: flex;
  gap: 0px;
  width: 100%;
}

.form-row.nombre-razo .mat-form-field {
  flex: 1;
  min-width: 300px;
}

.form-row.rutyesp{
  display: flex;
  align-items: center;
  gap: 0px;
}

.form-row.rut {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.mat-form-field.rut {
  width: 186px;
}

.mat-form-field.dv {
  width: 60px;
}

.form-row.esp {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
}

.mat-form-field.esp {
  width: 272px;
}

/* Responsivo */
@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-group { 
    flex-direction: column;
  }

  .form-row.especialidad {
    flex-direction: column;
  }

  .columna-nombre, 
  .columna-numero {
    flex: 1 1 100%;
  }
}