<h6>Crear Parámetro</h6>
<div class="form-container">
  <form (ngSubmit)="onSubmit()" #parametroForm="ngForm">
    <div class="form-group">
      <label for="parametro">Parámetro</label>
      <input
        type="text"
        id="parametro"
        [(ngModel)]="parametro.parametro"
        name="parametro"
        class="form-control"
        required
      />
    </div>

    <div class="form-group">
        <label for="valor">Valor {{data.titulo}}</label>
        <input
          type="text"
          id="valor"
          [(ngModel)]="parametro.valor"
          name="valor"
          class="form-control"
          required
        />
      </div>
      
    <div class="form-group">
      <label for="iD_TIPO_PARAMETRO">Tipo Parametro</label>
      <input
        type="number"
        id="iD_TIPO_PARAMETRO"
        [(ngModel)]="parametro.iD_TIPO_PARAMETRO"
        name="iD_TIPO_PARAMETRO"
        class="form-control"
        required
      />
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <input
          type="number"
          id="estado"
          [(ngModel)]="parametro.estado"
          name="estado"
          class="form-control"
          required
        />
      </div>

    <div class="form-group">
      <label for="usuariO_CREACION">Usuario de Creación</label>
      <input
        type="text"
        id="usuariO_CREACION"
        [(ngModel)]="parametro.usuariO_CREACION"
        name="usuariO_CREACION"
        class="form-control"
        required
      />
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary crear-btn">Crear Parámetro</button>
      <button type="button" (click)="volver()" class="btn btn-secondary volver-btn">Volver</button>
    </div>
  </form>
</div>
