/* Estilos para Modales */
.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.modal-body-prov {
  padding: 20px;
}

/* Estructura de Formulario */
.form-row {
  flex-wrap: wrap;
  /* gap: 15px; */
}

.form-row .mat-form-field {
  flex: 1;
  min-width: 250px;
}

/* Configuraciones específicas de campos */
.form-row.rut {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-row.rut .mat-form-field.dv {
  flex: 0 0 auto;
  width: 40px; /* Ajustar el ancho de los campos Rut y DV */
}

.form-row.rut h5 {
  margin: 0;
}

/* Campos de Nombres y Apellidos */
.form-row.nombres,
.form-row.apellidos {
  display: flex;
  gap: 15px;
}

.mat-form-field.primernombre,
.mat-form-field.segundonombre,
.mat-form-field.primerapellido,
.mat-form-field.segundoapellido{
  flex: 1;
}

.mat-form-field.rol{
  min-width: 250px;
}

.mat-form-field.email{
  flex: 1;
}

.mat-form-field.contra{
  flex: 1;
}

/* Sección de correo, contraseña, roles y toggles */
.form-row.roles,
.form-row.cheks {
  display: flex;
  gap: 15px;
  align-items: center;
}

.form-row.mail {
  display: flex;
  gap: 15px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
  }

  .form-row,
  .form-row.nombres,
  .form-row.apellidos,
  .form-row.mail {
    flex-direction: column;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-row.rut {
    flex-direction: column;
  }

  .form-row.rut h5 {
    display: none;
  }

  .form-row.cheks {
    flex-direction: column;
    align-items: flex-start;
  }
}