/* Estilos para Modal */
.modal-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.modal-body-prov {
  padding: 20px;
}

/* Filas de Formulario */
.form-row {
  flex-wrap: wrap;
}

.form-row.rutyrol{
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-row.rut {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.mat-form-field.rut {
  width: 186px;
}

.mat-form-field.dv {
  width: 60px;
}

.form-row.rol {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
}

.mat-form-field.rol {
  width: 272px;
}

/* Filas Específicas */
.form-row.nombres,
.form-row.apellidos,
.form-row.cheks {
  display: flex;
  gap: 15px;
}

.mat-form-field.primernombre,
.mat-form-field.segundonombre,
.mat-form-field.primerapellido,
.mat-form-field.segundoapellido{
  flex: 1;
}

.mat-form-field.email{
  width: 100%;
}

.mat-form-field.contra{
  width: 100%;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
  .modal-dialog {
    width: 90%;
  }

  .form-row,
  .form-row.nombres,
  .form-row.apellidos,
  .form-row.mail {
    flex-direction: column;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-row.rut {
    flex-direction: column;
  }

  .form-row.rut h5 {
    display: none;
  }

  .form-row.cheks {
    flex-direction: column;
    align-items: flex-start;
  }
}