.login-container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 98px;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Aseguramos que el formulario esté al frente */
}

.logo {
  margin-bottom: 10px;
  width: 420px; /* Aumentamos el ancho del contenedor */
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%; /* La imagen ocupará el 100% del contenedor */
  height: auto; /* Mantiene la proporción de aspecto */
  max-width: 420px; /* Evita que la imagen se agrande demasiado */
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
}

.subtitle {
  color: #666;
  margin: 0;
  margin-bottom: 5;
  font-size: 16px;
}

.login-form {
  width: 100%;
  max-width: 360px;
}

.form-group {
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

input::placeholder {
  color: #999;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 8px;
}

.login-button:hover {
  background-color: #141414;
}

.forgot-password {
  margin-top: 16px;
  text-align: center;
}

.forgot-password a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Asegurarse de que use todo el espacio disponible */
:host {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Para el mensaje de error */
.error-message {
  background-color: #fee2e2;
  color: #dc2626;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
}