<div class="sidenav" [ngClass]="collapsed ?  'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleColapse()">BI</button> <!-- Cambiar por foto -->
    <div class="logo-text" *ngIf="collapsed">Bravo Izquierdo</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <!-- No se muestra el boton de cerrar -->
      <!-- fa-times se llamara en CSS ojo -->
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.RouterLink]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">
          {{data.label}}
        </span>
      </a>
    </li>
  </ul>
</div>
