
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.card{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body{
    padding: 1rem 1.5rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos generales para los botones */
/* BOTÓN GENERAL */
.flat-button {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* BOTÓN AGREGAR */
.flat-button.agregar {
  background-color: #56b85c;
  color: white;
}

.flat-button.agregar:hover {
  background-color: #3ca041;
}

/* BOTÓN DESHABILITADO */
.flat-button.disabled {
  background-color: #E0E0E0;
  color: #9E9E9E;
  cursor: not-allowed;
}

/* BOTÓN ENLACE */
.custom-button.link {
  background-color: transparent;
  color: #C2185B;
  text-decoration: none;
}

.custom-button.link:hover {
  background-color: rgba(194, 24, 91, 0.1);
}