
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.card{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body{
    padding: 1rem 1.5rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* MODAL CREAR ESPECIALIDAD */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

/* Estilos generales para los botones */
button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: relative;
  overflow: hidden;
}

/* Efecto de animación al pasar el cursor */
button:hover {
  opacity: 0.9;
  transform: translateY(-2px); /* Eleva el botón ligeramente */
}

/* Estilos para el botón primario */
.btn-primary {
  background: linear-gradient(145deg, #485bbd, #4354a8); /* Gradiente de color */
  color: white;
  border: 1px solid transparent;
  width: 40px; /* Define un ancho fijo */
  height: 40px; /* Define un alto fijo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background: linear-gradient(145deg, #4354a8, #374a8e); /* Gradiente al pasar el cursor */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}

/* Estilos para el botón de éxito */
.btn-success {
  background: linear-gradient(145deg, #56b85c, #4ca052); /* Gradiente de color */
  color: white;
  border: 1px solid transparent;
}

.btn-success:hover {
  background: linear-gradient(145deg, #4ca052, #399241); /* Gradiente al pasar el cursor */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}

/* Estilos para el botón de peligro */
.btn-danger {
  background: linear-gradient(145deg, #f54c3e, #e5493b); /* Gradiente de color */
  color: white;
  border: 1px solid transparent;
  width: 40px; /* Define un ancho fijo */
  height: 40px; /* Define un alto fijo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-danger:hover {
  background: linear-gradient(145deg, #e5493b, #d43f36); /* Gradiente al pasar el cursor */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}

/* Estilos para el botón negro */
.btn-nigg {
  background: linear-gradient(145deg, #000000, #333333); /* Gradiente de color */
  color: white;
  border: 1px solid transparent;
}

.btn-nigg:hover {
  background: linear-gradient(145deg, #333333, #000000); /* Gradiente al pasar el cursor */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
}
